.table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #1e1e1e;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: #ffffff;

    .editForm {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .saveBtn {
            background-color: #28a745;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                transform: scale(1.02);
            }
        }

        .cencelBtn {
            background-color: #007bff;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .edit {
        display: flex;
        gap: 10px;

        .editBtn {
            background-color: #ffcc00;
            color: #000000;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }

        .deleteBtn {
            background-color: #f84444;
            color: #000000;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.5em;
    }
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(12, 14px);
    grid-template-rows: repeat(8, 14px);
    grid-gap: 2px;
    justify-content: center;
}

.day {
    width: 14px;
    height: 14px;
    background-color: #3a3a3a;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.day.low {
    background-color: #f44336;
}

.day.medium {
    background-color: #ff9800;
}

.day.good {
    background-color: #ffc107;
}

.day.high {
    background-color: #4caf50;
}

.day.none {
    background-color: #3a3a3a;
}

.todaysRating {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    div {
        width: 40px;
        height: 40px;
        margin: 0 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.3s ease;

        &.rating-low {
            background-color: #f44336;
        }

        &.rating-medium {
            background-color: #ff9800;
        }

        &.rating-good {
            background-color: #ffc107;
        }

        &.rating-high {
            background-color: #4caf50;
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}
